{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<body class="page-content">
    <!-- start: page -->
    <section class="panel">
        <form  action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ formset.management_form }}
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none w-auto" id="datatable-default">
                    <thead>
                        <tr>
                            
                            <th>Name</th>
                            <th>Present</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX">
                            {% for form in formset %}
                                <td>{{ form.student|attr:"disabled:True"|add_class:"form-control" }}</td>
                                <td class="text-center">{% render_field form.status|add_class:"form-check-input" %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="h-100">
                <button class="btn btn-primary pull-right" type="submit">Submit</button>
                 </div>
            </div>
        </section>
        
    </form>
</body>
{% endblock content %}


