{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
 <form  action="" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
		{{ formset.management_form }}
 		<h1>check</h1> 
<div class='container'>
    {% for form in formset %}
<div class="row">
    <div class="col">

        {{ form.student|attr:"disabled:True"|add_class:"form-control" }}
    </div>
    <div class="col">
        {% render_field form.status|add_class:"input-group-mb-3 input-group-prepend input-group-text" type="checkbox" %}  
    </div>

   
   </div> 
{% endfor %} 
 </div>
  
    <br><br>
    <button type="submit">Submit</button> 
</form>
{% endblock content %}

