{% extends 'base.html' %}
{% load static %}

{% block content %}


<body class="page-content">
	<!-- start: page -->
	<section class="panel">
		
		<div class="panel-body">
			<table class="table table-bordered table-striped mb-none" id="datatable-default">
				<thead>
					<tr>
						<th>Name</th>
						<th>Dates</th>
						<th>Price</th>
						<th>Total Students</th>
										
					</tr>
				</thead>
				<tbody>
					<tr class="gradeX">
					{% for course in object_list %}
						<td><a class="text-dark" href="{% url 'course_detail' course.pk %}">
					{{course.name}}</td></a>
						<td>
					{{course.start_date}} - {{course.end_date}}	
						</td>
						<td>{{course.price}} $</td>
						<td>{{ course.student.all|length }}</td>

					</tr>
					{% endfor %}
					<a href="{% url 'add_lesson' %}">Add Lesson</a>
				</tbody>
			</table>
		</div>
	</section>
</body>

{% endblock content %}

