{% extends 'base.html' %}
{% load static %}


{% block content %}
<body class="page-content">
<!-- Breadcubs Area Start Here -->  
 <div class="breadcrumbs-area"> 
          <h3>Dashboard</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
            </nav>                       
          </div> 
    <!-- Breadcubs Area End Here -->
      
     <!-- Action-Toolbar Area Start Here -->
    
      <div class="row quick-action-toolbar">
            <div class="col-md-12 grid-margin">
                <div class="card">

                  <div class="card-header d-block d-md-flex">
                    <h5 class="mb-0">Quick Actions <i class="far fa-lightbulb"></i></h5>
                  </div>
                  <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">


                    <div class="col-sm-6 col-md-4 p-4 text-center btn-wrapper">
                      <button type="button" class="btn px-0"><i class="bx bx-folder nav_icon"><a href="{% url 'course-list' %}"></i> All Courses</button></a>
                    </div>
          {% if user.is_student %}

                    <div class="col-sm-6 col-md-4 p-4 text-center btn-wrapper">
                      <button type="button" class="btn px-0"><i class="fas fa-user-tie"><a href="{% url 'all_teachers' %}"></i>All Teachers</button></a>
                    </div>
                {% endif %}
                    <div class="col-sm-6 col-md-4 p-4 text-center btn-wrapper">
                      <button type="button" class="btn px-0"><i class="fas fa-folder"><a href="{% url 'all_students' %}"></i>All students</button></a>
                    </div>

          {% if user.is_teacher %}
           <div class="col-sm-6 col-md-4 p-4 text-center btn-wrapper">
                      <button type="button" class="btn px-0"><i class="fas fa-user"><a href="{% url 't_course_list' %}"></i>Add Lesson</button></a>
                  </div>
          {% endif %}


                  </div>
                </div>
              </div>

 
            </div>
             <!-- Action-Toolbar Area End Here -->

  {% if user.is_student %}
           <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-sm-flex align-items-center mb-4">
                      <h4 class="card-title mb-sm-0">My courses</h4>
                      <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"></a>
                    </div>
                    <div class="table-responsive border rounded p-1">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="font-weight-bold">ID</th>
                            
                            <th class="font-weight-bold">Name</th>
                            <th class="font-weight-bold">Dates</th>
                            <th class="font-weight-bold">Price</th>
                            <th class="font-weight-bold">Total Students</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %} 
                          <tr>
                            <td>{{course.id}}</td>
                            <td>{{course.name}}</td>
                            <td>{{course.start_date}} - {{course.end_date}} </td>
                            <td>{{course.price}}</td>
                            <td>{{course.student.all|length}}</td>
                          </tr>
                        
                        </tbody>
                        {% endfor %}

                      </table>
                    </div>
    {% endif %} 
              <!-- Student Table Area Start Here -->
  {% if user.is_teacher %}
           <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-sm-flex align-items-center mb-4">
                      <h4 class="card-title mb-sm-0">My Students</h4>
                      <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"></a>
                    </div>
                    <div class="table-responsive border rounded p-1">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="font-weight-bold">ID</th>
                            <th class="font-weight-bold">Photo</th>
                            <th class="font-weight-bold">Name</th>
                            <th class="font-weight-bold">E-mail</th>
                            <th class="font-weight-bold">Phone</th>
                            <th class="font-weight-bold">Address</th>
                          </tr>
                        </thead>
                        <tbody>
                   
                         {% for student in object_list %} 
                          <tr>
                            <td>{{student.user.id}}</td>
                            
                                {% if student.profile.image %}
                                    <td><img class="img-sm rounded-circle" src="{{student.profile.image.url}}" alt="profile image"></td>
                                {% else %}
                                 <td><img class="img-sm rounded-circle" src="{% static 'img/default.jpeg'%}" alt="profile image"></td>
                                 {% endif %}

                            <td>{{student.user.first_name}} {{student.user.last_name}}</td>
                            <td>{{student.user.email}}</td>
                            <td>{{student.profile.phone}}</td>
                            <td>{{student.profile.address}}</td>
                          </tr>
                        
                        </tbody>
                        {% endfor %}
                    

                      </table>
                    </div>
    {% endif %}  
                        {% if is_paginated %}
                         <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center pagination-sm">
                                    {% if page_obj.has_previous %}

                                      <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }} ">Previous</a></li>
                                    {% else %}
                                      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                                    {% endif %}

                                    {% for i in paginator.page_range %}
                                      {% if page_obj.number == i %}
                                        <li class="page-item active">
                                        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
                                  
                                      {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                    {% else %}
                                      <li class=" page-item disabled"><a class="page-link" href="#">Next</a></li>
                                    {% endif %}
                                 </ul>
                             </nav>
                                {% endif %} 
                           
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->
            </div> 
</body>

           

{% endblock content %}


