{% extends 'base.html' %}
{% load static %}


{% block content %}
 
{% if user.is_student %}


    {% include 'partials/cards.html' %}

      <div class="w3-panel w3-blue ">
        <p>Notice Board Student</p>
        Hello {{user.username}}
      </div><br>

<!--       <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong></strong><br> 
      </div>
 -->
{% else %}
  

    {% include 'partials/cards.html' %}

      <div class="w3-panel w3-blue ">
        <p>Notice Board Teacher</p>
      </div><br>
<!-- 
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong></strong><br> 
      </div> -->

{% endif %}
  

{% endblock content %}