{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class=container>
<div class="card-group">
  <div class="card">
    <img src=".." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ADMIN</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
       <a href="#" class="btn btn-dark">View</a>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'img/teacher_img.png' %}" class="rounded-circle p-1 bg-primary" width="250" alt="...">
    <div class="card-body">
      <h5 class="card-title">TEACHER</h5>
      <p class="card-text"></p>
      <a href="{% url 'click' %}" class="btn btn-dark">View</a>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'img/student_img.png' %}" class="rounded-circle p-1 bg-primary" width="250" alt="...">
    <div class="card-body">
      <h5 class="card-title">STUDENT</h5>
      <p class="card-text"></p>
      <a href="{% url 'click' %}" class="btn btn-dark">View</a>
    </div>
  </div>
</div>
</div>
  <footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year"></span> 2021 SapDov
  </footer>


{% endblock content %}