{% extends 'base.html' %}
{% load static %}



{% block content %}
    <h1>New comment</h1>
    <form  action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
          <button type="submit">Submit</button>
    </form>


{% endblock content %}

<!-- <div class = container>
	<form method = 'POST'>
    {% csrf_token %}
    {{form.as_p}}
	<button class='btn btn-success' type="submit">Add</button><br><br>
	</form>
	</div> 		
</div> -->
<!-- 
<form action="{% url 'detail' object.pk %}" method="POST">
	{% csrf_token %}
		{{form.as_p}}
 <input type="submit" name="form" class="btn btn-info"> 
	<button class="btn btn-info">
    		Save
    	</button></form> -->