{% extends 'base.html' %}
{% load static %}



{% block content %}
	<br><br><br>
	<p>


	<p>Name: {{ object.name }}</p>
	<p>Description: {{ object.description }}</p>
	<p>Price: {{ object.price }}</p>

	{% for student in object.student.all %}
	<p>Related Student: {{ student }}</p>
 	{% endfor %}
 		{{comment.student}}

<hr>

	{% for comment in object.comments.all %}
				{{comment}}
    	<div class="comment">
        <div class="date">{{ comment.date_added }}</div>
        <strong>{{ comment.student }}</strong>

        <p>{{ comment.body|linebreaks }}</p>
   		 </div>
    {% empty %}
    		<p>No comments here yet </p>
   
	{% endfor %}
<a class="btn btn-default" href="{% url 'course_comment' course.pk %}">Add comment</a>


{% endblock content %}


<!-- create a for loop to show specific filter:
student.first_name -->
<!-- 	<p>Related Teacher: {{ object.teacher.first_name }}</p>

	</p>
 
 <button calss="btn btn-info">Save</button>
<form action="{% url 'add-comment' object.pk %}" method="POST">
	{% csrf_token %}
		{{form.as_p}}
<input type="submit" name="form" class="btn btn-info">

</form>
-->