{% extends 'base.html' %}
{% load static %}
{% load mytags %}
{% block content %}


<body class="page-content">
	<!-- start: page -->
	<section class="panel">
		
		<div class="panel-body">
			<table class="table table-bordered table-striped mb-none" id="datatable-default">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Dates</th>

					</tr>
				</thead>
				<tbody>
					<tr class="gradeX">
					{% for lesson in object_list %}
						{% if lesson|has_attendance:student == 'N' %}
							<td class="table-info">{{lesson.id}}</td>
						{% else %}
							<td >{{lesson.id}}</td>
						{% endif %}
						
						<td><a class="text-dark" href="{% url 'lesson_detail' lesson.pk %}">
					{{lesson.course}}</td></a>
						<td>
					{{lesson.start_time}} - {{lesson.end_time}}
						</td>	
					</tr>
					
					{% endfor %}
				</tbody>
				
			</table>
			
		</div>
	</section>
</body>

{% endblock content %}


		