{% extends 'base.html' %}
{% load static %}
{% load mytags %}



{% block content %}

    <p>Course: {{ object.course }}</p>
    <p>Date: {{ object.course__start_time }}</p>
    <div class="container">
        <div class="container-fluid p-0">
            <h1 class="h3 mb-3">Students</h1>
            <div class="row">
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                {% for student in object.course.student.all %}
                                    <tbody>
                                        <tr>
                                            {% if student.image %}
                                                   <td><img src="{{student.image.url}}" width="32" height="32" class="rounded-circle my-n1" alt="image"></td>
                                            {% else %}
                                                <td><img src="{% static 'img/default.jpeg'%}" width="32" height="32" class="rounded-circle my-n1" alt="image"></td>
                                            {% endif %}
                                    <td> {{student.user.first_name}} {{student.user.last_name}}</td>
                                               <td>{{student.phone}}</td>
                                                <td>{{student.user.email}}</td>
                                             {% if object|has_attendance:student == 'N' %}
                                                    <td>No attendance</td>
                                                    
                                             {% elif object|has_attendance:student %}
                                                    <td><span class="badge bg-success">Present</span></td>
                                                {% else %}
                                                    <td><span class="badge bg-danger">Absent</span></td>
                                                {% endif %}
                                            </tr>
                                        </tbody> 

                                {% endfor %}  
                               
                            </table> 
                              {% for student in object.course.student.all|slice:":1" %}
                                    {% if object|has_attendance:student == 'N' %}

                                       <a href="{% url 'add_attendance' object.pk %}" class="btn btn-outline-primary btn-block pull-right">Add attendance</a>
               
                                     {% endif %}

                              {% endfor %}
                          
                        </div>
                    </div>
                </div>


{% endblock content %}

